%ul
  %li= link_to "Categories", admin_categories_path
  %li= link_to "Authors", admin_authors_path
  %li= link_to "Orders", admin_orders_path
  %li= link_to "Custom Orders", admin_custom_orders_path



