%h1 Здравствуйте!
%p Оставлен комментарий в магазине изделий ручной работы PoshStore.
%p=@comment.comment
%br
%p
  -case @comment.commentable_type
    -when 'Post'
      = link_to 'Ссылка на комментарий здесь', short_post_url(Post.find(@comment.commentable_id).post_category.slug, Post.find(@comment.commentable_id).slug , :anchor => "comment_list")
    -when 'Product'
      = link_to 'Ссылка на комментарий здесь', category_product_url(Product.find(@comment.commentable_id).category, @comment.commentable_id , :anchor => 'comment_list')

