<h1>Привет <%= @order.name %></h1>
<p>Большое спасибо за заказ.</p>
<p>Вы заказали следующие изделия:</p>

<p><%= render :template => 'line_items/_mail_line_item',:locals => { :line_items  => @order.line_items  }  %></p>

<p>В течении 24 часов мы обязательно с Вами свяжемся для уточнения деталей.</p>
