%h1 Здравствуйте #{@order.name}
%p Большое спасибо за заказ.
%p Вы заказали следующие изделия:
%p= render :template => 'line_items/_mail_line_item',:locals => { :line_items  => @order.line_items  }
%p В течении 24 часов мы обязательно с Вами свяжемся для уточнения деталей.
%p Если вы хотите связаться с нами прямо сейчас, вы можете позвонить нам
%p
  380934548455
  %br/
  или
  %br/
  380986134192
%p
  или же написать нам на
  %a{:href => "mailto:poshstoreua@gmail.com"} poshstoreua@gmail.com
%p Всего наилучшего!