/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
ul li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:active, a:focus, img {
    outline: 0;
}


/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a { color: #000;text-decoration:none; }
a:visited { color: #666; }
a:hover { text-decoration:underline;}

div.field, div.actions {
    margin-bottom: 10px;
}
#notice {
    color: green;
}

ul {
    list-style-type: none;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
.round{
    border: 1px solid #7C7C7C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.shadow{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.header {
    width: 980px;
    height: 126px;
    margin: 30px auto 0 auto;
    position: relative;
   /* background: url(/images/header.jpg) no-repeat 0 0; */
}
.logo{
    height: 78px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 148px;
}
.cart{
    width: 130px;
    height: 45px;
    bottom: 10px;
    right: 10px;
    position: absolute;
}
.wrapper{
    width: 980px;
    min-height: 580px;
    margin: 0 auto;
    overflow:hidden;
}
.sidebar{
/*border-top: 3px solid #01BFF3;*/
    height: 558px;
    width: 240px;
    float: left;
}

.sidebar h2{
    margin: 15px 0 5px;
}
.categories{
    margin: 10px;

}

.categories ul{

}
.categories ul li {
    line-height: 180%;
    list-style-image: url("/images/list_style_img.jpg");
    list-style-position: inside;
}
.categories ul li.child {
    list-style-image: none;
    margin: 0 0 0 20px;
}

.authors{
    margin: 10px;
}

.authors ul li {
    line-height: 180%;
    list-style-image: url("/images/list_style_img.jpg");
    list-style-position: inside;
}
.authors ul li.child {
    list-style-image: none;
    margin: 0 0 0 20px;
}

.custom_order {
    margin: 10px;

}
.custom_order li a {
    font: 14px Georgia;
    color: #751776;

}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
.content{
/*border-top: 3px solid #D8D8D8;*/
    border-left: 1px solid #C7A2C8;
    float: right;
    min-height: 570px;
    width: 700px;
    padding: 15px 15px 0 20px;
}

.content h2 {
}
.product_nav {
    text-align: right;
    padding: 0 8px 0 0
}
.per_page {
    padding: 0 0 0 15px;
}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.product {
    border: 1px solid #333333;
    float: left;
    height: 230px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    position: relative;
}
.product .title {
    margin: 0 auto;
    position:absolute;
    left: 10px;
    bottom: 30px;
    color: #000;

}

.product .image {
    display: block;
    width: 180px;
    margin: 5px auto;
}
.product .image img {
    display: block;
    height: 170px;
    margin: 0 auto;
    width: 170px;
}

.product .author {
    bottom: 10px;
    color: #6F6F6F;
    font: 13px 'verdana';
    height: 16px;
    position: absolute;
    left: 10px;
    text-align: left;
    width: 100px;
}
.product .price {
    bottom: 10px;
    color: #5FB434;
    font: 14px 'verdana';
    height: 16px;
    position: absolute;
    right: 10px;
    text-align: right;
    width: 100px;
}


.pagination {
    height: 20px;
    overflow: hidden;
    padding: 8px 0 0;
    text-align: center;
    width: 670px;

}

#top_products .product,
#new_products .product
{
    margin: 0px !important;
    padding: 0px !important;
    width:220px!important;
    border: none !important;
    height: 242px !important;

}
#top_products .product .border,
#new_products .product .border
{
    margin: 0 5px !important;
    padding: 5px;
    border: 1px solid #333333 !important;
    width: 200px !important;
    height: 230px !important;

}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.footer{
    width: 980px;
    height: 60px;
    margin: 10px auto 30px auto;
    position: relative;
}