html {
    background: url("../images/bg.jpg") repeat scroll center 0 transparent;
    width: 100%;
    height: 100%;
}
body {
    padding:0;
    background: url(../images/header.jpg) no-repeat;
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}
div, p, form, label, input, textarea, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, td, tr {
    padding:0;
    margin:0;
    font-weight:normal;
    text-decoration:none;
    outline:none;
    list-style:none;
}
fieldset {
    padding:0;
    margin:0;
    border:none;
}
:focus {
    outline:none;
}
a, a img {
    border:0px;
    outline:none;
}
a {
    text-decoration:underline;
    color: #000;
}
a:hover {
    text-decoration:none;
}

p {
    line-height: 140%;
}
table{border-collapse:collapse;padding:0px;}
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.header {
    display: block;
    height: 220px;
    width: 1200px;
}
.header h1{
    width: 430px;
    height: 120px;
    padding: 20px 0 0  120px;
    float: left;
}
.header .cart {
    color: #955730;
    float: right;
    font: bold 13px/20px Georgia;
    height: 50px;
    padding: 48px 133px 0 0;
    width: 200px;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
/**********************************************************************************************************************/
/**********************************************************************************************************************/
.content_wrap {
    display: block;
    width: 960px;
    min-height: 1100px;
    margin: 0 auto;
    background: #fff url("../images/content_bg.jpg") no-repeat scroll 0 0 ;
    position: relative;
    z-index:2;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
/**********************************************************************************************************************/
/************************************SIDEBAR CATEGORIES****************************************************************/
/**********************************************************************************************************************/
.content_wrap .sidebar{
    width: 260px;
    float: left;
}
.content_wrap .sidebar .categories {
    background: url("../images/categories_bg.jpg") repeat-y scroll 0 0 ;
    margin: 50px 0 0 20px;
    padding: 15px 10px 25px 15px;
    position: relative;
    width: 187px;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px#888;
    box-shadow: 0 0 4px #888;
}
.content_wrap .sidebar .categories h2 {
    text-align: center;
}
.content_wrap .sidebar .categories h2 a {
    font: bold 20px Georgia;
    color: #000;
    text-decoration:none;
}
.content_wrap .sidebar .categories h2 a:hover {
    text-decoration: underline;
}
.content_wrap .sidebar .categories ul {
    margin: 10px 0 0;
}
.content_wrap .sidebar .categories ul li a{
    font: bold 13px/25px Georgia;
}
.content_wrap .sidebar .categories .has_child ul {
    margin: 0 0 0 10px;
}
.content_wrap .sidebar .categories .top_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    top: -2px;
    background: url("../images/corner_2.png") no-repeat scroll -16px -16px transparent;
}
.content_wrap .sidebar .categories .top_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    top: -2px;
    background: url("../images/corner_2.png") no-repeat scroll 0 -16px transparent;
}
.content_wrap .sidebar .categories .bottom_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    bottom: -2px;
    background: url("../images/corner_2.png") no-repeat scroll -16px 0 transparent;
}
.content_wrap .sidebar .categories .bottom_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    bottom: -2px;
    background: url("../images/corner_2.png") no-repeat scroll 0 0 transparent;
}
/**********************************************************************************************************************/
/************************************SIDEBAR SEARCH********************************************************************/
/**********************************************************************************************************************/
.content_wrap .sidebar .search {
    margin: 20px 0 0 35px;
}
.content_wrap .sidebar .search h3{
    font: 20px/35px Georgia;
    color: #945730;
}
.content_wrap .sidebar .search fieldset {
    position: relative;
    width: 185px;
    height: 22px;
}
.content_wrap .sidebar .search .field {
    position: absolute;
    left: 0;
    top: 0;
    height: 22px;
    width: 153px;
    border: 1px solid #936147;
}
.content_wrap .sidebar .search .submit {
    position: absolute;
    right: 0;
    top: 2px;
    height: 18px;
    width: 22px;
}
/**********************************************************************************************************************/
/**************************************SIDEBAR BEST PROPOS*************************************************************/
/**********************************************************************************************************************/
.content_wrap .sidebar .best {
    border: 1px solid #E4C6AB;
    margin: 30px 0 80px 20px;
    padding: 15px 5px 25px;
    position: relative;
    width: 200px;
}
.content_wrap .sidebar .best h2 {
    text-align: center;
}
.content_wrap .sidebar .best h2 a {
    font: 20px/24px Georgia;
    color: #90542E;
    text-decoration:none;
}
.content_wrap .sidebar .best .body {
    margin: 10px 0 0 0;
}
.content_wrap .sidebar .best p {
    color: #955730;
    font: bold 15px/20px Georgia;
    text-align: center;
    margin: 4px 0 0 0;
}
.content_wrap .sidebar .best h2 a:hover {
    text-decoration: underline;
}
.content_wrap .sidebar .best .title h4 {
    color: #955730;
    font: bold 13px/20px Georgia;
    text-align: center;
    text-decoration: underline;
}
.content_wrap .sidebar .best .title h4:hover {
    text-decoration: none;
}
.content_wrap .sidebar .best .author h5 {
    color: #90542E;
    font: 11px/20px Tahoma;
    text-align: center;
    text-decoration: underline;
}
.content_wrap .sidebar .best .author h5:hover{
    text-decoration: none;
}
.content_wrap .sidebar .best .title h4 {
    color: #955730;
    font: bold 13px/20px Georgia;
    text-align: center;
    text-decoration: underline;
}
.content_wrap .sidebar .best .top_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px -16px transparent;
}
.content_wrap .sidebar .best .top_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 -16px transparent;
}
.content_wrap .sidebar .best .bottom_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px 0 transparent;
}
.content_wrap .sidebar .best .bottom_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 0 transparent;
}
.content_wrap .sidebar .best .price{
    background: url("../images/price.png") no-repeat scroll 0 0 transparent;
    bottom: -51px;
    color: #955730;
    display: block;
    font: bold 13px Georgia;
    height: 33px;
    left: 32px;
    padding: 28px 0 0 54px;
    position: absolute;
    width: 80px;
}
/**********************************************************************************************************************/
/************************************SIDEBAR MASTERS*******************************************************************/
/**********************************************************************************************************************/
.content_wrap .sidebar .masters {
    border: 1px solid #E4C6AB;
    height: 222px;
    margin: 80px 0 0 20px;
    padding: 15px 5px 25px 20px;
    position: relative;
    width: 185px;
}
.content_wrap .sidebar .masters h2 {
    text-align: center;
}
.content_wrap .sidebar .masters h2 a {
    font: 20px/24px Georgia;
    color: #90542E;
    text-decoration:none;
}
.content_wrap .sidebar .masters h2 a:hover {
    text-decoration: underline;
}

.content_wrap .sidebar .masters ul {
    margin: 10px 0 0;
}
.content_wrap .sidebar .masters ul li a{
    font: bold 13px/25px Georgia;
    color: #955730;
}
.content_wrap .sidebar .masters .top_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px -16px transparent;
}
.content_wrap .sidebar .masters .top_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 -16px transparent;
}
.content_wrap .sidebar .masters .bottom_left_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px 0 transparent;
}
.content_wrap .sidebar .masters .bottom_right_corner {
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 0 transparent;
}
.content_wrap .sidebar .masters .price{
    background: url("../images/price.png") no-repeat scroll 0 0 transparent;
    bottom: -51px;
    color: #955730;
    display: block;
    font: bold 13px Georgia;
    height: 33px;
    left: 32px;
    padding: 28px 0 0 54px;
    position: absolute;
    width: 80px;
}
/**********************************************************************************************************************/
/*****************************************CONTENT WRAP*****************************************************************/
/**********************************************************************************************************************/
.content_wrap .content{
    float: left;
    width: 680px;
}
.content_wrap .content .wrap {
    border-bottom: 1px solid #E2C6B4;
    background: url("/images/welcome_border.jpg") no-repeat scroll 0 0 transparent;
    margin: 50px 0 0;
    padding: 15px 0;
    position: relative;
    z-index: 1;
}
.content_wrap .content h3 {
    font: 20px/40px Georgia;
    color:#945730;
    text-indent: 10px;
}
.content_wrap .content p{
    font: 13px/18px Georgia;
    color: #4E2D18;
}

.content_wrap .content .pagination {
    height: 25px;
    overflow: hidden;
    padding: 15px 0 0;
    text-align: center;
    width: 100%;
    color: #000000;
}
.content_wrap .content .pagination a {
    color: #4E2D18;
}


/**********************************************************************************************************************/
/******************************************CONTENT NEW AND TOP PRODUCTS************************************************/
/**********************************************************************************************************************/
.content_wrap .content .new,
.content_wrap .content .top{
    border: 1px solid #E2C6B4;
    position: relative;
    margin: 30px 0 0 0;
}
.content_wrap .content .new h3,
.content_wrap .content .top h3{
    color: #945730;
    font: 20px/55px Georgia;
    text-indent: 25px;
}
.content_wrap .content .new #new_products,
.content_wrap .content .top #top_products
{
    overflow: hidden;
}
.content_wrap .content .new .paginator,
.content_wrap .content .top .paginator{
    height: 20px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;

}
.content_wrap .content .new .paginator a,
.content_wrap .content .top .paginator a{
    font: bold 13px/17px Georgia;
    color: #955730;
}
.content_wrap .content .new .paginator .back,
.content_wrap .content .top .paginator .back{
    height: 20px;
    left: 25px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100px;
}
.content_wrap .content .new .paginator .forward,
.content_wrap .content .top .paginator .forward{
    height: 20px;
    position: absolute;
    right: 30px;
    text-align: right;
    top: 0;
    width: 100px;
}
.content_wrap .content .new .paginator .line,
.content_wrap .content .top .paginator .line{
    background: none repeat scroll 0 0 #955730;
    height: 1px;
    left: 108px;
    position: absolute;
    top: 12px;
    width: 473px;
}
.content_wrap .content .new .product,
.content_wrap .content .top .product{
    float: left;
    height: 270px;
    padding: 0 5px 0 5px;
    position: relative;
    width: 210px;
}
.content_wrap .content .new .product .body,
.content_wrap .content .top .product .body{
    height: 215px;
    margin: 5px 0 0;
    overflow: hidden;
    width: 210px;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
}
.content_wrap .content .new .product .body .img,
.content_wrap .content .top .product .body .img{
    display: block;
    height: 150px;
    padding: 5px;
    width: 200px;
    text-align: center;
}
.content_wrap .content .new .product .body .title h4,
.content_wrap .content .top .product .body .title h4{
    font: bold 13px/20px Georgia;
    color: #955730;
    text-align:center;
    text-decoration: underline;
}
.content_wrap .content .new .product .body .title h4:hover,
.content_wrap .content .top .product .body .title h4:hover{
    text-decoration: none;
}
.content_wrap .content .new .product .body .author h5,
.content_wrap .content .top .product .body .author h5{
    font: 11px/20px Tahoma;
    color: #666666;
    text-align:center;
    text-decoration: underline;
}
.content_wrap .content .new .product .body .author h5:hover,
.content_wrap .content .top .product .body .author h5:hover{
    text-decoration: none;
}

.content_wrap .content .new .product .price,
.content_wrap .content .top .product .price{
    background: url("../images/price.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    color: #955730;
    display: block;
    font: bold 12px Georgia;
    height: 33px;
    left: 41px;
    padding: 27px 0 0 48px;
    position: absolute;
    width: 90px;
}
.content_wrap .content .new .top_left_corner,
.content_wrap .content .top .top_left_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px -16px transparent;
}
.content_wrap .content .new .top_right_corner,
.content_wrap .content .top .top_right_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 -16px transparent;
}
.content_wrap .content .new .bottom_left_corner,
.content_wrap .content .top .bottom_left_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px 0 transparent;
}
.content_wrap .content .new .bottom_right_corner,
.content_wrap .content .top .bottom_right_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 0 transparent;
}
/**********************************************************************************************************************/
/*******************************************CONTEN WRAP PRODUCTS*******************************************************/
/**********************************************************************************************************************/

.wrap .product_nav {
    text-align: right;
}

.content_wrap .content .catalog{
    border: 1px solid #E2C6B4;
    position: relative;
    margin: 10px 0 0 0;
    overflow: hidden;
    padding: 10px 5px;
}


.content_wrap .content .catalog .product{
    float: left;
    height: 270px;
    padding: 0 6px 20px 6px;
    position: relative;
    width: 210px;
}
.content_wrap .content .catalog .product .body{
    height: 215px;
    margin: 5px 0 0;
    overflow: hidden;
    width: 210px;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
}
.content_wrap .content .catalog .product .body .img{
    display: block;
    height: 150px;
    padding: 5px;
    width: 200px;
    text-align: center;
}
.content_wrap .content .catalog .product .body .title h4{
    font: bold 13px/20px Georgia;
    color: #955730;
    text-align:center;
    text-decoration: underline;
}
.content_wrap .content .catalog .product .body .title h4:hover{
    text-decoration: none;
}
.content_wrap .content .catalog .product .body .author h5{
    font: 11px/20px Tahoma;
    color: #666666;
    text-align:center;
    text-decoration: underline;
}
.content_wrap .content .catalog .product .body .author h5:hover{
    text-decoration: none;
}

.content_wrap .content .catalog .product .price{
    background: url("../images/price.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    color: #955730;
    display: block;
    font: bold 12px Georgia;
    height: 33px;
    left: 41px;
    padding: 27px 0 0 48px;
    position: absolute;
    width: 90px;
}


.content_wrap .content .catalog .top_left_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px -16px transparent;
}
.content_wrap .content .catalog .top_right_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    top: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 -16px transparent;
}
.content_wrap .content .catalog .bottom_left_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    left:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll -16px 0 transparent;
}
.content_wrap .content .catalog .bottom_right_corner{
    position: absolute;
    width: 16px;
    height: 16px;
    right:-2px;
    bottom: -2px;
    background: url("../images/corner_1.png") no-repeat scroll 0 0 transparent;
}


/**********************************************************************************************************************/
/*******************************************CONTEN WRAP BANIKI*********************************************************/
/**********************************************************************************************************************/
.content_wrap .bant {
    background: url("../images/bant.jpg") no-repeat scroll 0 0 transparent;
    height: 235px;
    position: absolute;
    right: -120px;
    top: -22px;
    width: 236px;
}
.content_wrap .heart {
    background: url("../images/heart.png") no-repeat scroll 0 0 transparent;
    height: 84px;
    position: absolute;
    left: 20px;
    top: -2px;
    width: 59px;
}
.content_wrap .cbottom_left_corner {
    background: url("../images/corner_3.png") no-repeat scroll -60px 0 transparent;
    bottom: -12px;
    height: 54px;
    left: -21px;
    position: absolute;
    width: 60px;
}
.content_wrap .cbottom_right_corner {
    background: url("../images/corner_3.png") no-repeat scroll 0 0 transparent;
    bottom: -12px;
    height: 54px;
    position: absolute;
    right: -21px;
    width: 60px;
}
/**********************************************************************************************************************/
/*******************************************FOOTER*********************************************************************/
/**********************************************************************************************************************/
.footer {
    width: 960px;
    height: 104px;
    margin: 0 auto;
    background: url("../images/footer.png") no-repeat scroll 0 0 transparent;
    position: relative;
    z-index:1;
    padding: 0 0 15px;
}
.left_co {
    display: block;
    font: 11px/16px Georgia;
    height: 50px;
    left: 90px;
    position: absolute;
    top: 15px;
    width: 190px;
}
.right_co {
    color: #955730;
    display: block;
    font: bold 14px/20px Georgia;
    height: 50px;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 10px;
    width: 560px;
}