- content_for :custom_css_js do
  -#= stylesheet_link_tag "bx_styles_c"
  -#= javascript_include_tag "jquery-1.4.3.min"
  = javascript_include_tag "jquery.bxSlider.min"

  :javascript
    $(document).ready(function(){
      $('#top_products').bxSlider({
        speed: 300,
        pager: true,
        auto: true

      });
    });

  :javascript
    $(document).ready(function(){
      $('#new_products').bxSlider({
        speed: 100,
        pager: true
      });
    });
-cache 'home_products' do
  -@top_products = Product.find_top_products(9,3)
  -@new_products = Product.find_new_products(9)
  -@random_products = Product.find_random_products(30,@top_products+@new_products)
  .top
    %h3=link_to "Хиты продаж" , 'home/top'
    #top_products
      = render :partial => "products/horizontal_list", :locals => { :products => @top_products }
  .new
    %h3=link_to t('home.new_products') , 'home/new'
    #new_products
      = render :partial => "products/horizontal_list", :locals => { :products => @new_products }
  .random
    %h3=link_to t('home.random_products') , 'home/rnd'
    = render :partial => "products/random_products", :locals => { :products => @random_products }
