-if @current_cart.total_price == 0
  ="Ваша корзина пуста"
-else
  =t('carts.cart.sum')
  = @current_cart.total_price.to_s+" грн."
  %p
    = link_to t('carts.cart.checkout'), new_order_path, :method => :get
