=t('carts.cart.sum')
= number_to_currency(@current_cart.total_price)
%p
  =# link_to t('carts.cart.empty_shot'), @current_cart, :method => :delete, :confirm => 'Are you sure?'
  = link_to t('carts.cart.show'), @current_cart
  = link_to t('carts.cart.checkout_short'), new_order_path, :method => :get
