%h1 Editing product
= render 'form'
= link_to "Cancel", :back


:javascript
  jQuery("#calc").click(function () {
    var a_price = parseInt(jQuery('#product_author_price').val());
    var p_price = parseInt(jQuery('#product_price').val());

    var a_price_obj = jQuery('#product_author_price');
    var p_price_obj = jQuery('#product_price');

    if (!a_price) {
      if (p_price <= 60) {
        a_price_obj.val(p_price-15);
      }else {
        a_price_obj.val(Math.round(p_price/1.35));
      }
    }else{
      if (a_price <= 45) {
        p_price_obj.val(a_price+15);
      }else {
        p_price_obj.val(Math.round(a_price+a_price*0.35));
      }
    }

  });