-if post.present_footer
  .post_footer
    .published
      %span 19 июля 2011, 21:11
    .twitter
      %a{:href => "http://twitter.com/intent/tweet?text=http://habr.ru/p/124476/+Вычисление+простых+чисел+на+шаблонах+C+++%23habr", :target => "_blank", :title => "Опубликовать ссылку на пост в Twitter"}
    .vkontakte
      %a{:href => "http://vkontakte.ru/share.php?url=http://habrahabr.ru/blogs/crazydev/124476/", :onclick => "window.open(this.href, 'Опубликовать ссылку на пост в Вконтакте', 'width=800,height=300'); return false", :title => "Опубликовать ссылку на пост в ВКонтакте"}
    .facebook
      %a{:href => "http://www.facebook.com/sharer.php?u=http://habrahabr.ru/blogs/crazydev/124476/", :onclick => "window.open(this.href, 'Опубликовать ссылку на пост в Facebook', 'width=800,height=300'); return false", :title => "Опубликовать ссылку на пост в Facebook"}
    .vcard.author.full
      %a.fn.nickname.url{:href => "http://gribozavr.habrahabr.ru/", :title => "Автор текста"}
        %span gribozavr
    .comments
      %a{:href => "http://habrahabr.ru/blogs/crazydev/124476/#comments", :title => "Читать комментарии"}
        %span.all 8