- content_for :custom_css_js do
  %script{:src => "http://userapi.com/js/api/openapi.js?34", :type => "text/javascript"}
  :javascript
    VK.init({apiId: 2665924, onlyWidgets: true});
%h1
  -if @post.post_category.slug.to_s != 'content'
    =link_to @post.post_category.name.to_s, short_cat_posts_url(@post.post_category)
    =" / "
  = @post.title
.post_body=raw @post.body
= render :partial => "posts/post_footer", :locals => { :post => @post }
-if @post.can_comment
  = render :partial => "comments/vkontakte"