%h1 Listing categories
%table
  %tr
    %th Name
    %th Description
    %th
  - @categories.each do |category|
    %tr
      %td= category.name.to_s
      %td= category.description.to_s
      %td= link_to 'Show', category