%p.product_nav
  Сортировать по:
  - if params[:category_id]
    = link_to "Цене", category_products_path(@category, :sort => "price", :per_page => params[:per_page] ), :class=>params[:sort]=='price' ? "selected":"normal"
    = link_to "Популярности", category_products_path(@category, :sort => "popularity", :per_page => params[:per_page] ), :class=>params[:sort]=='popularity' ? "selected":"normal"
    =# render "products/per_page"
  - elsif params[:author_id]
    = link_to "Цене", author_products_path(@category, :sort => "price", :per_page =>params[:per_page] ), :class=>params[:sort]=='price' ? "selected":"normal"
    = link_to "Популярности", author_products_path(@category, :sort => "popularity", :per_page =>params[:per_page] ), :class=>params[:sort]=='popularity' ? "selected":"normal"
    =# render "products/per_page"

