%ul
  - products.each do |product|
    %li
      = link_to category_product_path(product.category_id,product) , :class => "img" do
        = image_tag product.image.url(:small), :alt => 'фото '+product.title.mb_chars.downcase.to_s, :title => 'фото '+product.category.name.mb_chars.downcase.to_s
      -#= link_to category_product_path(product.category_id,product) , :class => "title" do
      -#  %h4= product.title.to_s
