-content_for :custom_css do
  = stylesheet_link_tag 'bootstrap.min'

-content_for :custom_js do
  %script{:src => "http://jzaefferer.github.com/jquery-validation/jquery.validate.js", :type => "text/javascript"}

  :javascript
    $("#search_form").validate({
      rules: {
        "search": {required: true, minlength: 6}
      }
    });

%h1="Искать товары здесь:"

-form_tag search_products_path, :method => 'get', :id=>'search_form' do
  .search_box
    = text_field_tag :search, params[:search], {:class=>"sexy_input search_input"}
    = submit_tag "Искать", :name => nil, :class=>"btn btn-success"

= render 'products' if !@products.nil?