- if line_item == @current_item
  %tr#current_item
- else
  %tr
    %td.quantity
      = line_item.quantity
      \×
    %td.title
      = line_item.product.title
    %td.item_price
      = line_item.total_price.to_s+" Грн."
