:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21782053-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  

/ krible.ru (insert before close body tag)
:javascript
  var kribleCode = '0b3d3a195ac6bf676a874fc60f429e99';
  document.write('<scr'+'ipt type="text/javascript" src="http://chat.krible.ru/code/'+kribleCode+'.js"></scr'+'ipt>');
