%h2=link_to t('banners.title')
%ul.banners_list
  %li
    =link_to  "http://pokupki.ck.ua/" ,:target=>"_blank" do
      = image_tag "/images/banner1.jpg"
  -#%li
  -#  =link_to "Приятные мелочи", "http://labazzz.com/" ,:target=>"_blank"

  .top_left_corner
  .top_right_corner
  .bottom_left_corner
  .bottom_right_corner