%span.left_co
  ©
  =link_to "poshstore.com.ua", :root
  , 2011.
  %br>/
  Все права сохранены
%span.right_co
  По всем вопросам обращайтесь по адресу:&nbsp;
  =mail_to "poshstoreua@gmail.com"
  %br>/
  или по телефону (093) 45 48 455

.footer_banners
  %a{:href => "http://uashop.org/"}
    %img{:alt => "UAShop.org", :border => "0", :height => "31", :src => "http://uashop.org/fl33x81-2.gif", :width => "88"}/
