%ul.nav
  -#%li
  -#  =link_to "Мастеркласы", "/payment_shipping"
  -#  %span
  %li
    =link_to "Оплата Доставка", "/payment_shipping"
    %span
  %li
    = link_to 'На связи', '/contactus'
    %span